<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<main id="root"></main>

<script type="text/javascript">
  window.mediumLogo = "<%= image_url('medium_logo.png') %>"
  window.quotes = "<%= image_url('quotes.png') %>"
</script>
