.bottom-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;

  border-top: 1px solid #e6e6e6;

  background-color: #fff;
  z-index: 2;
}

.bottom-bar-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  margin-left: 110px;
  margin-right: 110px;
  

  background-color: #fff;
  z-index: 2;
}

.bottom-bar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom-bar-left h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #292929;
}

.story-show-clap-icon-clapped {
  width: 23px;
  height: auto;
  margin-right: 8px;
  cursor: pointer;
  opacity: 70%;
  margin-bottom: 4px;
}

.story-show-clap-icon-unclapped {
  width: 25px;
  height: auto;
  margin-right: 8px;
  cursor: pointer;
}

.story-show-save-icon {
  width: 25px;
  height: auto;
  cursor: pointer;
  opacity: 50%;
}

.story-show-save-icon-saved {
  width: 25px;
  height: auto;
  cursor: pointer;
  opacity: 70%;
}