@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:regular,bold,italic&subset=latin,latin-ext');


.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.login-form-container {
  width: 650px;
  height: 660px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
  border-radius: 3px;
  flex-direction: column;
}

.modal-x-container {
  align-self: flex-end;
  margin-right: 16px;
  margin-top: 3px;
}

.modal-x:after {
  content: "\00d7";
  font-size: 25px;
  text-decoration: none;
  color: #797979;
}

.login-form-container {
  display: flex;
}

.login-form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}

.errors {
  display: flex;
  justify-content: center;
}

.errors ul {
  align-items: center;
  padding: 0;
}

.errors ul li {
  list-style: none;
  color: red;
}

.login-form-container h1 {
  font-family: 'source serif pro', sans-serif;
  font-weight: 200;
  font-size: 28px;
  align-self: center;
  padding-bottom: 40px;
  color: #080808;
  margin-top: 30px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-form label {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #292929;
  margin-bottom: 10px;
}

.login-form input[type=text] {
    background: transparent;
    border: none;
    border-bottom: .5px solid #a8a8a8;
    width: 240px;
}

.login-form input[type=password] {
    background: transparent;
    border: none;
    border-bottom: .5px solid #a8a8a8;
    width: 240px;
}

.login-form input:focus {
  outline: none;
}

.login-form .session-submit {
  border-radius: 20px;
  background-color: #191919;
  color: #fbfbfb;
  padding: 6.5px 13px 6.5px 13px;
  transition: 0.3s;
  border: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 80%;
  align-self: center;
  cursor: pointer;
}

.login-form .session-submit:hover {
  background-color: #080808;
}

.login-form p {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: -15px;
  color: #292929;
}

.login-form p a {
  color: #1b8917;
}

.demo-button {
  border-radius: 20px;
  background-color: #1b8917;
  color: #fbfbfb;
  padding: 6.5px 13px 6.5px 13px;
  transition: 0.3s;
  border: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 29%;
  align-self: center;
  cursor: pointer;
  text-align: center;
  margin-top: 22px;
  margin-left: 16px;
}

.demo-button:hover {
  background-color: #1a8517;
}