@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:regular,bold,italic&subset=latin,latin-ext');

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding-left: 6%;
  padding-right: 7%;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #000;
  background-color: #fec118;
}

header #logo {
  width: 53px;
}

a:link {
  text-decoration: none;
}

header a {
  color: #000;
}

.header-link {
  display: flex;
  align-items: center;
  font-family: 'source serif pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 3px;
}

.header-link img {
  width: 43.75px;
  height: 25px;
  margin-right: 4px;
  margin-bottom: 2.5px;
}

.login-signup a {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

header nav {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: #252525;
}

.login-signup a:first-child {
  margin-right: 22px;
}

.login-signup a:last-child {
  border-radius: 20px;
  background-color: #191919;
  color: #f6f6f6;
  padding: 7.5px 16px 7.5px 16px;
  transition: 0.3s;
}

.login-signup a:last-child:hover {
  background-color: #090909;
}

.header-button {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  border-radius: 20px;
  background-color: #191919;
  color: #fbfbfb;
  padding: 6.5px 13px 6.5px 13px;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}

.header-button:hover {
  background-color: #090909;
}


.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding-left: 6%;
  padding-right: 7%;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #000;
  background-color: #fec118;
  z-index: 1;
}

.banner-info {
  width: 580px;
  padding: 22px 0px 22px 0px;
  z-index: 1;
}

.banner-info h1 {
  font-family: 'source serif pro', sans-serif;
  font-weight: 300;
  font-size: 70px;
  line-height: 74px;
  color: #090909;
  z-index: 1;
}

.banner-info p {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  width: 85%;
  margin-bottom: 30px;
  line-height: 19px;
  z-index: 1;
}

.banner-info a {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #fbfbfb;
  padding: 10px 20px 10px 20px;
  z-index: 1;
}

.banner-content img {
  position: absolute;
  width: 350px;
  right: 20px;
  top: 114px;
  z-index: 0;
}