.story-index-item-container {
  display: flex;
  flex-direction: row;
  max-width: 680px;
  margin: 55px 50px 0px 70px;

  font-family: Helvetica, Arial, sans-serif;
}

.story-index-item-container:first-child {
  margin-top: 70px;
}

.story-index-item-container:last-child {
  margin-bottom: 70px;
}

.story-index-item-text {
  display: flex;
  flex-direction: column;
}

.story-index-author-content {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 13px;
  color: 292929;
  cursor: pointer;
}

.story-index-author-content img {
  width: 16px;
  height: 17px;
  margin-right: 4px;
  cursor: pointer;
}

.story-index-title {
  color: #292929;
  font-size: 28px;
  cursor: pointer;
}

.story-index-body {
  color: #7d7d7d;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

.story-index-info-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.story-index-info-content {
  margin-top: 8px;
}

.story-index-date {
  color: #757575;
  font-weight: 200;
  font-size: 13px;
  margin-right: 6px;
}

.story-index-tags {
  color: #757575;
  font-weight: 200;
  font-size: 13px;
  padding: 3px 7px 3px 7px;
  border-radius: 20px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.story-index-tags:hover {
  background-color: #e2e2e2;
}

.dot {
  height: 2px;
  width: 2px;
  background-color: #757575;
  border-radius: 50%;
  margin-right: 6px;
}

.story-index-item-image {
  width: 200px;
  height: 134px;
  cursor: pointer;
}